# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
.vscode
Debug
x64
GenerationOfPortraitOfMatrix.sln
GenerationOfPortraitOfMatrix.vcxproj
GenerationOfPortraitOfMatrix.vcxproj.filtres
GenerationOfPortraitOfMatrix.user

.vs/GenerationOfPortraitOfMatrix/v16/.suo
.vs/GenerationOfPortraitOfMatrix/v16/Browse.VC.db
.vs/GenerationOfPortraitOfMatrix/v16/Browse.VC.db-shm
.vs/GenerationOfPortraitOfMatrix/v16/Browse.VC.db-wal
.vs/GenerationOfPortraitOfMatrix/v16/Browse.VC.opendb
.vs/GenerationOfPortraitOfMatrix/v16/ipch/AutoPCH/1f720175d7e86b79/GRAPH.ipch
.vs/GenerationOfPortraitOfMatrix/v16/ipch/AutoPCH/28e19e76811fe1c7/COMPUTER.ipch
.vs/GenerationOfPortraitOfMatrix/v16/ipch/AutoPCH/443fb92c1bfcfcdf/COMPUTER.ipch
.vs/GenerationOfPortraitOfMatrix/v16/ipch/AutoPCH/4c0f16b672f76555/GRAPH.ipch
.vs/GenerationOfPortraitOfMatrix/v16/ipch/AutoPCH/61a17254e18d029/PORTRAIT.ipch
.vs/GenerationOfPortraitOfMatrix/v16/ipch/AutoPCH/65fc775c1e0b0336/COMPUTER.ipch
.vs/GenerationOfPortraitOfMatrix/v16/ipch/AutoPCH/72cfb919a357016e/NODEOFGRAPH.ipch
.vs/GenerationOfPortraitOfMatrix/v16/ipch/AutoPCH/c11c3233edb7479d/PORTRAIT.ipch
.vs/GenerationOfPortraitOfMatrix/v16/ipch/AutoPCH/f496f4b993f98792/COMPUTER.ipch
.vs/Parallel_Lab_1_Graph/v16/.suo
.vs/Parallel_Lab_1_Graph/v16/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Debug/GenerationOfPortraitOfMatrix.pdb
Debug/GenerationOfPortraitOfMatrix.log
Debug/GenerationOfPortraitOfMatrix.ilk
Debug/GenerationOfPortraitOfMatrix.exe.recipe
Debug/Generati.226da04e.tlog/link.write.1.tlog
Debug/Generati.226da04e.tlog/link.read.1.tlog
Debug/Generati.226da04e.tlog/link.command.1.tlog
Debug/Generati.226da04e.tlog/GenerationOfPortraitOfMatrix.lastbuildstate
Debug/Generati.226da04e.tlog/CL.write.1.tlog
Debug/Generati.226da04e.tlog/CL.read.1.tlog
Debug/Generati.226da04e.tlog/CL.command.1.tlog
Debug/main.new.obj.enc
Debug/portrait.obj.enc
Debug/vc142.idb
Debug/vc142.pdb
